.textEditor {
    border: 1px solid var(--variant-outlinedBorder, var(--joy-palette-neutral-outlinedBorder, var(--joy-palette-neutral-300, #CDD7E1)));
    font-family: Arial, sans-serif;
    border-radius: var(--joy-radius-sm);
  }
  .textEditor:focus-visible{
    border-color: var(--Input-focusedHighlight) !important;
  }
  
  .textEditor  .toolbar button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .editorContent {
    padding: 10px;
    min-height: 30vh;
    overflow-y: auto;
    white-space: pre-wrap;
  }
  .editorContent:focus-visible{
    outline: 0 !important;
  }
  .editorContent:focus{
    border: 0 !important;
  }
  
  .textEditor  .output {
    margin-top: 20px;
  }